Demo/.vs/
Demo/Library/
Demo/Temp/
Demo/obj/
Demo/Builds/DemoDay Build/
Demo/Builds/
Demo/Replays/
Demo/Assets/StreamingAssets/OldReplays.zip
Demo/Assets/StreamingAssets/OldReplays.zip.meta
Demo/Recordings/
