Demo/.vs/
Demo/Library/
Demo/Temp/
Demo/obj/
Demo/Builds/DemoDay Build/
Demo/Builds/
Demo/Replays/
Demo/Assets/StreamingAssets/OldReplays.zip
Demo/Assets/StreamingAssets/OldReplays.zip.meta
Demo/Recordings/
Demo/Assets/DropFeetGame/RecordedReplays/Collection2/PlayerA/.~lock.playerAstats.csv#
Demo/Assets/DropFeetGame/RecordedReplays/PlayerS/.~lock.PlayerSStats.ods#
Demo/Assets/DropFeetGame/RecordedReplays/PlayerET/.~lock.playerETstats.ods#
.idea/
Demo/Assets/DropFeetGame/Experiment1v2/
Demo/Assets/DropFeetGame/DropFeetGamemetrics2022-04-4--14-33-17/
Demo/MetricStats/DropFeetGamemetrics2022-04-4--14-33-17/
Demo/MetricStats/
